# Feature Selection

In this notebook features are ranked using importance and 2 sets 20- and 40- most important features are determined

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/train_data.tsv.gz", sep="\t", compression="gzip")
df = df.drop(columns=['Unnamed: 0'])
df.head()

,AGE2,SERVICE,MILSTAT,ACTDEVER,ACTD2001,ACTD9001,ACTD7590,ACTDVIET,ACTDPRIV,COMBATPY,...,TRQANYFLAG,TRQANYYR,STMANYFLAG,STMANYYR,SEDANYFLAG,SEDANYYR,PSYANYFLAG,PSYANYYR,HERRFD,TOTRFD
0,15.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,14.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,16.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## XGBoost Feature Importance

Use aggregate score as y

In [3]:
from xgboost import XGBRegressor

In [4]:
X = df.iloc[:,0:399]
y = df.iloc[:,-1]

In [5]:
model = XGBRegressor(objective='reg:logistic')
model.fit(X,y)

/home/osari/dev/venvs/ipyth/lib64/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/home/osari/dev/venvs/ipyth/lib64/python3.7/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bytree=1, gamma=0, importance_type='gain',
             learning_rate=0.1, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
             nthread=None, objective='reg:logistic', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=True, subsample=1)

In [6]:
importance = model.feature_importances_
importance = pd.DataFrame(importance, index=X.columns, 
                          columns=["Importance"])

## Export 
feature_importance_list.xlsx contains a reviewed version of results.    
20 and 40 most-important features are picked.

In [8]:
importance.sort_values(['Importance'], ascending=0).to_csv('data/feature_importance_results5.csv',sep='\t')

In [13]:
df_train_imp0 = pd.read_csv("data/train_data.tsv.gz", sep="\t", compression="gzip")
df_test_imp0 = pd.read_csv("data/test_data.tsv.gz", sep="\t", compression="gzip")

In [14]:
# get categorical features
df_features40 = pd.read_csv('data/feature_importance_results5.csv',sep='\t')[:40]
categorical_features = []
for i in range(len(df_features40['Categorical'])):
    if df_features40['Categorical'][i] != 0:
        categorical_features.append(df_features40['Unnamed: 0'][i])
len(categorical_features)

35

In [15]:
features40 = [item for item in np.array(df_features40['Unnamed: 0'])]
len(features40)

40

In [26]:
df_train_imp0.head()

,Unnamed: 0,AGE2,SERVICE,MILSTAT,ACTDEVER,ACTD2001,ACTD9001,ACTD7590,ACTDVIET,ACTDPRIV,...,TRQANYFLAG,TRQANYYR,STMANYFLAG,STMANYYR,SEDANYFLAG,SEDANYYR,PSYANYFLAG,PSYANYYR,HERRFD,TOTRFD
0,0,15.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,1,14.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,15.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,15.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,16.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [16]:
# remove columns that are not in our 40 list
rm = []
features40.append('HERRFD')
features40.append('TOTRFD')
for i in range(len(df_train_imp0.columns)):
    if df_train_imp0.columns[i] not in features40:
        rm.append(df_train_imp0.columns[i])
df_train_imp1 = df_train_imp0.drop(columns=rm)
df_test_imp1 = df_test_imp0.drop(columns=rm)

In [17]:
# get dummies
df_train_encoded = pd.get_dummies(df_train_imp1, columns=categorical_features)
df_test_encoded = pd.get_dummies(df_test_imp1, columns=categorical_features)

In [35]:
cols_to_end = ['HERRFD','TOTRFD']
df_train_encoded1 = df_train_encoded[[c for c in df_train_encoded if c not in cols_to_end]+cols_to_end]
df_test_encoded1 = df_test_encoded[[c for c in df_test_encoded if c not in cols_to_end]+cols_to_end]

In [34]:
df_train_encoded1.head()

,WRKSKIPMO,HIGHBPAGE,K6SCMON,K6SCMAX,SMIPP_U,APPDRGMON_1.0,APPDRGMON_2.0,CIGYR_0.0,CIGYR_1.0,IRPINC3_1.0,...,RKFQPBLT_1.0,RKFQPBLT_2.0,RKFQPBLT_3.0,RKFQPBLT_4.0,WRKDPSTWK_1.0,WRKDPSTWK_2.0,WRKDPSTWK_4.0,WRKDPSTWK_99.0,HERRFD,TOTRFD
0,0.0,999.0,0.0,0.0,0.008998,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0.0,0.0
1,0.0,999.0,0.0,0.0,0.008998,0,1,1,0,0,...,0,0,1,0,1,0,0,0,0.0,0.0
2,0.0,999.0,0.0,0.0,0.008998,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0.0,0.0
3,0.0,999.0,0.0,0.0,0.008998,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0.0,0.0
4,0.0,999.0,1.0,1.0,0.008998,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0.0,0.0

In [36]:
# export
df_test_encoded1.to_csv('data/test_encoded.tsv',sep='\t',index=False)
df_train_encoded1.to_csv('data/train_encoded.tsv',sep='\t',index=False)