# Feature Selection

In this notebook features are ranked using importance and 2 sets 20- and 40- most important features are determined

In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("data/train_data.tsv.gz", sep="\t", compression="gzip")
df = df.drop(columns=['Unnamed: 0'])
df.head()

,AGE2,SERVICE,MILSTAT,ACTDEVER,ACTD2001,ACTD9001,ACTD7590,ACTDVIET,ACTDPRIV,COMBATPY,...,TRQANYFLAG,TRQANYYR,STMANYFLAG,STMANYYR,SEDANYFLAG,SEDANYYR,PSYANYFLAG,PSYANYYR,HERRFD,TOTRFD
0,15.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,14.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,16.0,2.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## XGBoost Feature Importance

Use aggregate score as y

In [22]:
from xgboost import XGBRegressor

In [23]:
X = df.iloc[:,0:399]
y = df.iloc[:,-1]

In [24]:
model = XGBRegressor(objective='reg:logistic')
model.fit(X,y)

/home/osari/dev/venvs/ipyth/lib64/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/home/osari/dev/venvs/ipyth/lib64/python3.7/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bytree=1, gamma=0, importance_type='gain',
             learning_rate=0.1, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
             nthread=None, objective='reg:logistic', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=True, subsample=1)

In [25]:
importance = model.feature_importances_
importance = pd.DataFrame(importance, index=X.columns, 
                          columns=["Importance"])

## Export 
feature_importance_list.xlsx contains a reviewed version of results.    
20 and 40 most-important features are picked.

In [26]:
importance.sort_values(['Importance'], ascending=0).to_csv('feature_importance_results3.csv',sep='\t')